table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
  }

  caption {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  th {
    background-color: mediumslateblue;
  }

  th, td {
    padding: 5px;
  }

  div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  div.nav li {
    float: left;
  }
  
  div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  div.nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }